@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Playwrite+ID+Guides&display=swap');   
#red{
    font-size: 30px;
    font-style:  italic;
    /* latter-spacing: ; */
    word-spacing: 5px ;
    text-align: justify;
    


}

